body {
  padding-top: 50px;
  color: #676e76;
  font-size: 14px;
  background: #ffffff;
}
a {
  color: #006a36;
}
a:hover,
a:focus {
  color: #00371c;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #1f2329;
}
.wrapper-sm {
  width: auto;
  padding: 20px 0;
}
.wrapper-lg {
  width: auto;
  padding: 80px 0;
}
.bg-alt {
  background: #eceef1;
  border-top: 1px solid #dde1e6;
  border-bottom: 1px solid #dde1e6;
}
.bg-alt hr {
  border-top-color: #dde1e6;
}
.stream-img {
  padding: 0;
}
.stream-img li {
  display: inline-block;
  margin: 0 5px 10px 0;
}
.social-profiles {
  padding-left: 0;
}
.social-profiles li {
  display: inline;
  text-align: center;
}
.social-profiles li a {
  display: inline-block;
  font-size: 20px;
  width: 40px;
  height: 40px;
  color: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.social-profiles li a:hover {
  color: #fff;
  text-decoration: none;
}
.social-profiles li a.twitter {
  background: #00aced;
}
.social-profiles li a.twitter:hover {
  background: #0074a1;
}
.social-profiles li a.facebook {
  background: #3b5998;
}
.social-profiles li a.facebook:hover {
  background: #263961;
}
.social-profiles li a.google-plus {
  background: #dd4b39;
}
.social-profiles li a.google-plus:hover {
  background: #ac2d1e;
}
.social-profiles li a.pinterest {
  background: #cb2027;
}
.social-profiles li a.pinterest:hover {
  background: #89161a;
}
.social-profiles li a i[class*="icon-"] {
  display: inline-block;
  padding-top: 10px;
}
.tile {
  background: #eceef1;
  padding: 20px;
  text-align: center;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
br[class*="spacer"] {
  display: block;
  content: " ";
}
.spacer-sm {
  margin-bottom: 10px;
  line-height: 10px;
}
.spacer-md {
  margin-bottom: 20px;
  line-height: 20px;
}
.spacer-lg {
  margin-bottom: 40px;
  line-height: 40px;
}
.spacer-xl {
  margin-bottom: 80px;
  line-height: 80px;
}
.navbar {
  background: #1f2329;
  min-height: 70px;
}
.navbar-default {
  border: #14171a;
}
.navbar-default .navbar-nav > li > a {
  padding-top: 25px;
  padding-bottom: 25px;
  font-weight: bold;
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #14171a;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #006a36;
  background-color: #14171a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #14171a;
}
.navbar-default .navbar-nav > .dropdown > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > .dropdown > a .caret,
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #006a36;
  border-bottom-color: #006a36;
}
.navbar-default .navbar-collapse {
  border-color: #14171a;
  -webkit-box-shadow: inset 0 1px 0 #2a2f38;
  -moz-box-shadow: inset 0 1px 0 #2a2f38;
  box-shadow: inset 0 1px 0 #2a2f38;
}
.navbar-default .dropdown-menu {
  background-color: #1f2329;
  border: 1px solid #14171a;
  border-radius: 4px;
}
.navbar-default .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .dropdown-menu > li > a:hover,
.navbar-default .dropdown-menu > li > a:focus {
  color: #ffffff;
  background: #14171a;
}
.navbar-default .navbar-toggle {
  margin-top: 18px;
  background-color: #14171a;
  border: 1px solid transparent;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2a2f38;
}
.navbar-default .navbar-brand {
  color: #fff;
  padding: 10px;
  vertical-align: center;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #eee;
}
@media (max-width: 1200px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
    background: #14171a;
  }
}
.carousel-inner > .item > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img,
.carousel-inner > .item > a > img {
  width: 100%;
}
@media (min-width: 1200px) {
  .carousel-inner > .item > img,
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img,
  .carousel-inner > .item > a > img {
    max-height: 100%;
  }
}
.carousel-caption h1 {
  text-transform: uppercase;
  padding: 20px 20px;
  color: #FFF;
  background: #006a36;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  font-size: 50px;
}
.btn-default {
  color: #ffffff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #090a0c;
  -webkit-box-shadow: 0 3px 0 0 #000000;
  -moz-box-shadow: 0 3px 0 0 #000000;
  box-shadow: 0 3px 0 0 #000000;
  background: #1f2329;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active {
  color: #ffffff;
  border: 1px solid #090a0c;
  -webkit-box-shadow: 0 3px 0 0 #090a0c;
  -moz-box-shadow: 0 3px 0 0 #090a0c;
  box-shadow: 0 3px 0 0 #090a0c;
  background: #2a2f38;
}
.btn-default[disabled],
.btn-default.disabled {
  border: 1px solid #000000;
  background: #000000;
}
.btn-default[disabled]:hover,
.btn-default.disabled:hover,
.btn-default[disabled]:focus,
.btn-default.disabled:focus,
.btn-default[disabled]:active,
.btn-default.disabled:active,
.btn-default[disabled].active,
.btn-default.disabled.active {
  border: 1px solid #000000;
  background: #000000;
}
.btn-default:active,
.btn-default.active {
  position: relative;
  top: 1px;
}
.btn-group.open .btn-default.dropdown-toggle {
  -webkit-box-shadow: 0 3px 0 0 #000000;
  -moz-box-shadow: 0 3px 0 0 #000000;
  box-shadow: 0 3px 0 0 #000000;
}
.btn-primary {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #006a36;
  -webkit-box-shadow: 0 3px 0 0 #00371c;
  -moz-box-shadow: 0 3px 0 0 #00371c;
  box-shadow: 0 3px 0 0 #00371c;
  text-shadow: 0 -1px 0 #00371c;
  background: #006a36;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
  border: 1px solid #008443;
  background: #008443;
}
.btn-primary[disabled],
.btn-primary.disabled {
  border: 1px solid #005129;
  background: #005129;
}
.btn-primary[disabled]:hover,
.btn-primary.disabled:hover,
.btn-primary[disabled]:focus,
.btn-primary.disabled:focus,
.btn-primary[disabled]:active,
.btn-primary.disabled:active,
.btn-primary[disabled].active,
.btn-primary.disabled.active {
  border: 1px solid #005129;
  background: #005129;
}
.btn-primary:active,
.btn-primary.active {
  position: relative;
  top: 1px;
}
.btn-group.open .btn-primary.dropdown-toggle {
  -webkit-box-shadow: 0 3px 0 0 #00371c;
  -moz-box-shadow: 0 3px 0 0 #00371c;
  box-shadow: 0 3px 0 0 #00371c;
}
.btn-info {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #3498db;
  -webkit-box-shadow: 0 3px 0 0 #217dbb;
  -moz-box-shadow: 0 3px 0 0 #217dbb;
  box-shadow: 0 3px 0 0 #217dbb;
  text-shadow: 0 -1px 0 #217dbb;
  background: #3498db;
}
.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active {
  border: 1px solid #4aa3df;
  background: #4aa3df;
}
.btn-info[disabled],
.btn-info.disabled {
  border: 1px solid #258cd1;
  background: #258cd1;
}
.btn-info[disabled]:hover,
.btn-info.disabled:hover,
.btn-info[disabled]:focus,
.btn-info.disabled:focus,
.btn-info[disabled]:active,
.btn-info.disabled:active,
.btn-info[disabled].active,
.btn-info.disabled.active {
  border: 1px solid #258cd1;
  background: #258cd1;
}
.btn-info:active,
.btn-info.active {
  position: relative;
  top: 1px;
}
.btn-group.open .btn-info.dropdown-toggle {
  -webkit-box-shadow: 0 3px 0 0 #217dbb;
  -moz-box-shadow: 0 3px 0 0 #217dbb;
  box-shadow: 0 3px 0 0 #217dbb;
}
.btn-success {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #27ae60;
  -webkit-box-shadow: 0 3px 0 0 #1e8449;
  -moz-box-shadow: 0 3px 0 0 #1e8449;
  box-shadow: 0 3px 0 0 #1e8449;
  text-shadow: 0 -1px 0 #1e8449;
  background: #27ae60;
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active {
  border: 1px solid #2cc36b;
  background: #2cc36b;
}
.btn-success[disabled],
.btn-success.disabled {
  border: 1px solid #229955;
  background: #229955;
}
.btn-success[disabled]:hover,
.btn-success.disabled:hover,
.btn-success[disabled]:focus,
.btn-success.disabled:focus,
.btn-success[disabled]:active,
.btn-success.disabled:active,
.btn-success[disabled].active,
.btn-success.disabled.active {
  border: 1px solid #229955;
  background: #229955;
}
.btn-success:active,
.btn-success.active {
  position: relative;
  top: 1px;
}
.btn-group.open .btn-success.dropdown-toggle {
  -webkit-box-shadow: 0 3px 0 0 #1e8449;
  -moz-box-shadow: 0 3px 0 0 #1e8449;
  box-shadow: 0 3px 0 0 #1e8449;
}
.btn-warning {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #f39c12;
  -webkit-box-shadow: 0 3px 0 0 #c87f0a;
  -moz-box-shadow: 0 3px 0 0 #c87f0a;
  box-shadow: 0 3px 0 0 #c87f0a;
  text-shadow: 0 -1px 0 #c87f0a;
  background: #f39c12;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active {
  border: 1px solid #f4a62a;
  background: #f4a62a;
}
.btn-warning[disabled],
.btn-warning.disabled {
  border: 1px solid #e08e0b;
  background: #e08e0b;
}
.btn-warning[disabled]:hover,
.btn-warning.disabled:hover,
.btn-warning[disabled]:focus,
.btn-warning.disabled:focus,
.btn-warning[disabled]:active,
.btn-warning.disabled:active,
.btn-warning[disabled].active,
.btn-warning.disabled.active {
  border: 1px solid #e08e0b;
  background: #e08e0b;
}
.btn-warning:active,
.btn-warning.active {
  position: relative;
  top: 1px;
}
.btn-group.open .btn-warning.dropdown-toggle {
  -webkit-box-shadow: 0 3px 0 0 #c87f0a;
  -moz-box-shadow: 0 3px 0 0 #c87f0a;
  box-shadow: 0 3px 0 0 #c87f0a;
}
.btn-danger {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #c0392b;
  -webkit-box-shadow: 0 3px 0 0 #962d22;
  -moz-box-shadow: 0 3px 0 0 #962d22;
  box-shadow: 0 3px 0 0 #962d22;
  text-shadow: 0 -1px 0 #962d22;
  background: #c0392b;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active {
  border: 1px solid #d14233;
  background: #d14233;
}
.btn-danger[disabled],
.btn-danger.disabled {
  border: 1px solid #ab3326;
  background: #ab3326;
}
.btn-danger[disabled]:hover,
.btn-danger.disabled:hover,
.btn-danger[disabled]:focus,
.btn-danger.disabled:focus,
.btn-danger[disabled]:active,
.btn-danger.disabled:active,
.btn-danger[disabled].active,
.btn-danger.disabled.active {
  border: 1px solid #ab3326;
  background: #ab3326;
}
.btn-danger:active,
.btn-danger.active {
  position: relative;
  top: 1px;
}
.btn-group.open .btn-danger.dropdown-toggle {
  -webkit-box-shadow: 0 3px 0 0 #962d22;
  -moz-box-shadow: 0 3px 0 0 #962d22;
  box-shadow: 0 3px 0 0 #962d22;
}
.thumbnail-grid {
  list-style: none;
  padding: 0;
}
.thumbnail-grid .thumbnail {
  position: relative;
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
  border: 1px solid #c0c7d1;
  -webkit-box-shadow: 0 0 6px 2px rgba(103, 110, 118, 0.15);
  -moz-box-shadow: 0 0 6px 2px rgba(103, 110, 118, 0.15);
  box-shadow: 0 0 6px 2px rgba(103, 110, 118, 0.15);
}
.thumbnail-grid .thumbnail > a {
  display: block;
  position: relative;
  z-index: 999;
}
.thumbnail-grid .thumbnail > a:hover:before,
.thumbnail-grid .thumbnail > a:focus:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: " ";
  background: rgba(0, 106, 54, 0.8);
}
.thumbnail-grid .thumbnail > a:hover:after,
.thumbnail-grid .thumbnail > a:focus:after {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -35px;
  margin-left: -22px;
  content: "\f002";
  font-family: "FontAwesome";
  font-size: 50px;
  color: #ffffff;
}
.thumbnail-grid .thumbnail > a img {
  width: 100%;
  height: auto;
}
.thumbnail-grid .thumbnail .caption {
  position: relative;
  z-index: 1000;
}
.thumbnail-grid .thumbnail .caption a {
  font-weight: bold;
  color: #1f2329;
}
.thumbnail-grid .thumbnail .caption a:hover {
  color: #00371c;
}
.thumbnail-badges {
  list-style: none;
  padding: 0;
  text-align: center;
  -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
}
.thumbnail-badges .thumbnail {
  padding: 0;
  border: none;
}
.thumbnail-badges img {
  border: 5px solid #006a36;
}
.thumbnail-badges img:hover {
  border-color: #00b75d;
}
.well {
  background: #eceef1;
  border: 1px solid #dde1e6;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}
.well hr {
  border-top: 1px solid #dde1e6;
  -webkit-box-shadow: 0 1px 0 0 #ffffff;
  -moz-box-shadow: 0 1px 0 0 #ffffff;
  box-shadow: 0 1px 0 0 #ffffff;
}
.bg-alt .well {
  background: #ffffff;
}
.footer-main,
.footer-bottom {
  color: #676e76;
}
.footer-main h1,
.footer-bottom h1,
.footer-main h2,
.footer-bottom h2,
.footer-main h3,
.footer-bottom h3,
.footer-main h4,
.footer-bottom h4,
.footer-main h5,
.footer-bottom h5,
.footer-main h6,
.footer-bottom h6 {
  color: #ffffff;
}
.footer-main a,
.footer-bottom a {
  color: #006a36;
}
.footer-main a:hover,
.footer-bottom a:hover,
.footer-main a:focus,
.footer-bottom a:focus {
  color: #ffffff;
  text-decoration: none;
}
.footer-main {
  border-top: 10px solid #14171a;
  background: #1f2329;
}
.footer-bottom {
  background: #14171a;
}
.tags {
  margin-left: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style: none;
}
.tags li {
  display: inline-block;
  margin-bottom: 15px;
  position: relative;
}
.tags li a {
  margin-right: 5px;
  padding: 6px 12px;
  background: #353c46;
  color: #fff;
  text-decoration: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.tags li a:hover,
.tags li a:focus {
  background: #006a36;
}
.tags li span {
  margin-right: 5px;
}
.tags li .active {
  background: #006a36;
}
.form-control:focus {
  border-color: #006a36;
  outline: 0;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 106, 54, 0.2);
  -moz-box-shadow: 0 0 2px 2px rgba(0, 106, 54, 0.2);
  box-shadow: 0 0 2px 2px rgba(0, 106, 54, 0.2);
}
.progress {
  height: 30px;
}
.progress-bar {
  background-color: #006a36;
}
.progress-bar-success {
  background-color: #27ae60;
}
.progress-bar-info {
  background-color: #3498db;
}
.progress-bar-warning {
  background-color: #f39c12;
}
.progress-bar-danger {
  background-color: #c0392b;
}
.bg-alt .plan {
  background: #fff;
}
.plan {
  background: #eceef1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #dde1e6;
  margin-bottom: 15px;
  text-align: center;
}
.plan .plan-name {
  padding: 10px 20px;
  background: #14171a;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}
.plan .plan-name h3 {
  color: #ffffff;
}
.plan .plan-info {
  padding: 20px;
  background: #1f2329;
  text-align: left;
}
.plan .plan-price h1 {
  font-size: 60px;
  line-height: 100%;
  padding: 20px;
}
.plan .plan-price h1 small {
  font-size: 14px;
}
.plan .plan-features {
  list-style: none;
  padding: 0;
}
.plan .plan-features li {
  padding: 10px 20px;
  border-bottom: 1px solid #dde1e6;
  -webkit-box-shadow: 0 1px 0 0 #fbfbfc;
  -moz-box-shadow: 0 1px 0 0 #fbfbfc;
  box-shadow: 0 1px 0 0 #fbfbfc;
}
.plan .plan-cta {
  padding: 20px;
}
.plan.plan-featured .plan-name {
  background: #006a36;
}
.plan.plan-featured .plan-info {
  background: #008443;
}
.plan.plan-featured .plan-info > p {
  color: #ffffff;
}
.hexagon {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 55px;
  margin: 80px auto 50px;
  color: #ffffff;
  text-align: center;
  background: #006a36;
}
.hexagon:before {
  content: " ";
  position: absolute;
  top: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 25px solid #006a36;
}
.hexagon:after {
  content: " ";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 25px solid #006a36;
}
.ribbon {
  position: relative;
  margin-left: -9px;
  margin-right: -9px;
  padding-left: 9px;
  line-height: 30px;
  background: #006a36;
  color: #ffffff;
}
.ribbon:after {
  content: " ";
  position: absolute;
  right: 0;
  border: 15px solid #006a36;
  border-color: transparent;
  border-right-color: #ffffff;
}

/*Custom CSS*/

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 1em;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.nav-bar-highlight {
  color: #006a36 !important;
  background-color: #14171a;
}


#top-panel {
  background: url('../../images/why-learn-code.jpg') no-repeat center center scroll; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 650px;
  padding: 2em;
  text-align: left;
  font-size: 1em;
}
    @media (min-width: 480px) {
      #top-panel {
        font-size: 1.25em;
      }
      #top-panel ul li img {
        width: 70px;
      }
    }

    @media (min-width: 768px) {
      #top-panel {
        font-size: 1.5em;
      }
      #top-panel ul li img {
        width: 80px;
      }
    }
    @media (min-width: 992px) {
      #top-panel {
        font-size: 1.75em;
      }
      #top-panel ul li img {
        width: 90px;
      }
    }
    @media (min-width: 1200px) {
      #top-panel {
        font-size: 2em;
      }
      #top-panel ul li img {
        width: 100px;
      }
    }

#top-panel ul {
  list-style-type: none;
  padding-top: 1em;
  padding-left: 0em;
}

#top-panel ul li {
  display: inline;
  padding-right: 1em;
}

#top-panel ul li img {
  width: 60px;
}

    @media (min-width: 480px) {
      #top-panel ul li img {
        width: 70px;
      }
    }

    @media (min-width: 768px) {
      #top-panel ul li img {
        width: 80px;
      }
    }
    @media (min-width: 992px) {
      #top-panel ul li img {
        width: 90px;
      }
    }
    @media (min-width: 1200px) {
      #top-panel ul li img {
        width: 100px;
      }
    }

.h1-resizing {
  font-size: 2.45em;
  color: #1f2329;
  text-shadow:
  1px 1px 0 #fff,
  -1px -1px 0 #fff,  
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
   1px 1px 0 #fff;
}

.top-panel-emphasis {
  color: white;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

#top-panel-subtext-1 {
  width: 75%;
  margin-top: 1.5em;
  color: white;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

#top-panel-subtext-2 {
  width: 75%;
  margin-top: .5em;
  color: white;
  text-shadow:
  3px 3px 0 #000,
  -1px -1px 0 #000,  
  1px -1px 0 #000,
  -1px 1px 0 #000,
   1px 1px 0 #000;
}

#panel-2-right p {
  font-size: 1.5em;
  padding-top: 1em;
}

#about-us-logo img {
  padding-top: 4em;
  width: 42%;
  margin-left: 29%;
}

#quotes {
  padding-top: 5em;
  text-align: center;
}
    @media (min-width: 480px) {
      #quotes {
      }
    }

    @media (min-width: 768px) {
      #quotes {
        padding: 0% 20%;
      }
    }
    @media (min-width: 992px) {
      #quotes {
        padding: inherit;
      }
    }
    @media (min-width: 1200px) {
      #quotes {
        text-align: left;
        padding: inherit;
        margin-left: -15%;
        margin-right: -15%;
        padding-top: 5%;
      }
    }
#quotes img {
  width: auto;
}

.quote-width {
}
    @media (min-width: 480px) {
      .quote-width {

      }
    }

    @media (min-width: 768px) {
      .quote-width {
      }
    }
    @media (min-width: 992px) {
      .quote-width {
      }
    }
    @media (min-width: 1200px) {
      .quote-width {
        margin-right: -20%;
      }
    }

.testimonial { 
  margin: 0; 
  background: #006a36;
  padding: 10px 50px;     
  position: relative;     
  font-family: Georgia, serif;     
  color: #fff;     
  border-radius: 5px;     
  font-style: normal;     
  background-image: linear-gradient(#006a36, #006a36);
  } .testimonial:before, .testimonial:after {     
    content: "\201C";
    position: absolute;     
    font-size: 80px;
    line-height: 1;
    color: #999;     
    font-style: normal;
    } .testimonial:before {     
      top: 0;     
      left: 10px;
     } .testimonial:after {     
      content: "\201D";     
      right: 10px;     
      bottom: -0.5em; 
      } .arrow-down {     
        width: 0;     
        height: 0;     
        border-left: 15px solid transparent;     
        border-right: 15px solid transparent;     
        border-top: 15px solid #006a36;     
        margin: 0 0 0 25px; } .testimonial-author {     
          margin: 0 0 0 25px;     
          font-family: Arial, Helvetica, sans-serif;     
          color: #999;     
          text-align:left;
          font-size: 1.25em;
           } .testimonial-author span {     
            font-size: 12px;     
            color: #666; } 

#sample-day-carousel .item{
  margin: 3px;
}
#sample-day-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

.h2-resize h2 {
  font-size: 2.5em;
  margin-bottom: 2em;
}

.box-text {
  font-size: 1.5em;
  margin-top: 1em;
}

.box-text-address {
  font-size: 1.5em;
  margin-top: 1em;
  line-height: .825em;
}

.faq img {
  margin-bottom: 25px; 
}

// Smaller menu when on small screen
// All padding and margin are in em, so they will scale as well
@media (min-width : 900px) {
  .menu {
    font-size: 1.2em;
  }
}
 
.menu {
  padding: 0.5em;
  background: #eee;
  min-height: 2em;
  line-height: 1em;
 
  ul {
    transition: max-height .25s linear;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  li {
    // visibility transition is on li because multiple transition selectors is not well supported
    transition: visibility .25s linear;
    display: inline-block;
    border: 1px solid;
    padding: .45em 1.1em;
    margin: 0 .3em;
  }
}
 
@media (max-width : 650px) {
  .menu {
    ul {
      max-height: 0;
      overflow: hidden;
      margin: 0 3.5em 0 1em;
    }
 
    li {
      visibility: hidden;
      display: block;
      padding: 0.5em 0.6em;
      border: none;
    }
 
    .navbar-handle {
      display: block;
    }
  }
  
  #navbar-checkbox:checked + .menu {
    ul {
      max-height: 300px; // Set this to the maximum height your menu will ever have.
    }
    
    li {
      visibility: visible;
    }
    .navbar-handle {
      &, &:after, &:before {
        border-color: #aaa;
      }
    }
  }
}
 
.navbar-checkbox {
    display: none;
}
 
// Will scale based on font-size
// Appears as 3 parallel horizontal bars
.navbar-handle {
    @height: 45px; // just a reference to compute em values on the fly
    display: none;
    cursor: pointer;
    position: relative;
    font-size: @height;
    padding: .5em 0;
    height: 0;
    width: 1em * 75px / @height;
    border-top: (1em * 6px / @height) solid;
 
    &:before, &:after {
        position: absolute;
        left: 0;
        right: 0;
        content: ' ';
        border-top: (1em * 6px / @height) solid;
    }
 
    &:before {
        top: 1em * 17px / @height;
    }
 
    &:after {
        top: 1em * 40px / @height;
    }
}
 
.menu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  
  .navbar-handle {
    position: absolute;
    font-size: 1.2em;
    top: 0.7em;
    right: 12px;
    z-index: 10;    
  }
}

.highlighted {
  border: 5px solid yellow;
}

#accordion-faq {
  font-size: 1.25em;
}

#accordion-faq .panel {
  padding-top: 1.25em;
}

.contact-image {
  padding-bottom: 3em;
}

.contact-us-link {
  font-size: 1.5em;
}

.mushroom-menu-button {
  width: 49%;
}